h1 {
	color: hsla(2, 96%, 91%, 1.0);
	font-weight: bolder;
	padding-left: 4rem;
}
form {
	padding-left: 10rem;

}

label {
	font-size: 20px;
	color: hsla(340, 96%, 63%, 1.0);
	margin: 1rem;
}

input {
	margin: 2rem;
}

button {
	margin: 2rem;
}

ul.toDoList {
	padding-left: 10rem;
}